:root {
  --blue-primary: #587bb4;
  --blue-bg: #648bc7;
  --text-white: #eeeeee;
  --card-bg: #ffffff;
  --text-dark: #333333;
  --connector-color: #ffffff;
  --shadow-bottom: #4a6691;
  --font-family: 'Poppins', -apple-system, sans-serif;
  --bg-secondary: rgba(80, 132, 195, 0.6);
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none;
}

body {
  font-family: var(--font-family);
}

.join-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 100px 40px;
  background: linear-gradient(rgba(46, 57, 73, 0.5), rgba(63, 103, 152, 0.5)), url("/Image/Galery/foto5.webp") center/cover no-repeat;
}



.join-section__content {
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.join-section__content h1 {
  font-size: 3rem;
  font-family: var(--font-family);
  font-weight: 700;
  color: whitesmoke;

}

.join-section__content p {
  font-size: 1rem;
  line-height: 1.8;
  color: whitesmoke;
  margin-bottom: 30px;
}

.join-section__buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 14px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-wa {
  background: #25d366;
  color: white;
}

.btn-form {
  background: #4f6b98;
  color: white;
}

@media (max-width: 768px) {
  .join-section {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .join-section__content h1 {
    font-size: clamp(1.5rem, 8vw, 3.5rem);
    text-align: center;
  }

  .join-section__buttons {
    justify-content: center;
  }
}